.card {
    background-color: #cfc1c1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    padding: 1rem;
    height: 25rem;

    border:  1px solid #403e3e;
    border-radius: 10px;

    &:hover {
        box-shadow: 0.5rem 0.5rem 0.25rem #aaaaaa;
    }
}

.flag {
    height: 200px;
    max-width: 80%;
}