$dark-theme: false !default;
$primary-color: #eb4e0a !default;
$accent-color: #ffff00 !default;
$text-color: #ddd !default;

@if $dark-theme {
    $primary-color: #100c13;
    $accent-color: #73084e;
}