$dark: #1e1e1e;
$off-white: #fbfbf8;
$grey: #716c6c;
$light-grey: #e8e1e1;
$dark-orange: #7f3d3d80;
$primary-color: #eb4e0a;
$accent-color: #ffff00;
$primary-color--dark: #151515;
$accent-color--dark: #313032;
$blue: #2c64f3;