@import 'assets/Styles/colors';
@import 'assets/Styles/font';
@import 'assets/Styles/CountryCard';
@import 'assets/Styles/CountryDetails';

@mixin CountriesTable($styles) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        padding: 2rem;
        
        width: 100%;
    
        .grid {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;

            @include CountryCard($styles);

            @include CountryDetails($styles)
        }
        
        button.more {
            cursor: pointer;
    
            color: map-get($styles, "text-color");
            font-size: 1.25rem;
            padding: 0.75rem;
    
            background-color: darken(map-get($styles, "primary-color"), 20%);
            box-shadow: 0 5px 10px rgb(86, 83, 83);
            border: 1px solid #000;
            border-radius: 40px;
            margin-top: 2rem;
        }
    }
    
}
