.search {
    background-color: white;
    border: 1px solid black;
    border-radius: 40px;
    .input {}
    .button {
        img {
            height: 10px;
            width: auto;
        }
    }
}