@import 'assets/Styles/colors';

@import 'assets/Styles/CountriesTable';

$text-color : $dark;
$text-color--dark : $off-white;

$styles: (
  "primary-color": $primary-color,
  "accent-color": $accent-color,
  "shadow-color": $dark,
  "border-button-color": $dark,
  "card-bg": $off-white,
  "text-color": $text-color,
);

$styles--dark: (
  "primary-color": $primary-color--dark,
  "accent-color": $accent-color--dark,
  "shadow-color": $dark-orange,
  "border-button-color": $off-white,
  "card-bg": $grey,
  "text-color": $text-color--dark,
);


$filter-bg: $off_white;
$filter-color: darken($grey, 5%);

.main {
  display: block;
  min-height: 100vh;
  padding: 5%;

  .search {
    .search-input {
        float: right;
        background-color: $filter-bg;
        color: $filter-color;
        border: 1px solid $grey;
        border-radius: 40px;
        outline: none;
        position: relative;
        overflow: hidden;
        width: 50%;
        padding: 0.5rem ;
        font-size: $font-medium;
    }
  }

  .filter {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
      align-content: space-around;
      margin-bottom: 2rem;

      .sort {
          color: $filter-color;
          background-color: $filter-bg;
          border-radius: 10px;
          outline: none;
          font-size: $font-medium;
          padding: 0.5rem;
      }

      .continent-filter {
          cursor: pointer;
          color: $filter-color;
          background-color: $filter-bg;
          border: 1px solid $grey;
          border-radius: 5rem;
          padding: 0.5rem 0.75rem;

          &.active{
              background-color: $blue;
              color: $off-white;

              &:hover{
                  opacity: 0.9;
                  color: $off-white;
                  background-color: $blue;
              }
          }

          &:hover{
              color: $blue;
              background-color: darken($filter-bg, 10%);
          }
      }

  }

  &.light {
    background-image: linear-gradient(to bottom right, $primary-color, $accent-color);
    color: $text-color;

    @include CountriesTable($styles);
  }

  &.dark{
    background-image: linear-gradient(to bottom right, $primary-color--dark, $accent-color--dark);
    color: $text-color--dark;

    @include CountriesTable($styles--dark);
  }
}


